body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-item-container {
  display: flex;
  padding: 5px;
}

.error-message {
  margin: 10px;
  padding: 10px;
  background-color: red;
  color: whitesmoke;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
  border-block-style: double; 
  border-block-color: whitesmoke;
}

.success-message {
  margin: 10px;
  padding: 10px;
  background-color: green;
  color: whitesmoke;
  text-align: center;
  max-width: 400px;
  border-block-style: double; 
  border-block-color: whitesmoke;
}
